doctype html
html(ng-app="App")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap-theme.min.css')
    meta(charset='utf-8')
  body
    header(class="container")
      nav(class="nav navbar-default")
        div(class="navbar-header")
          a(href="./" class="navbar-brand") 帳票アプリ
        div(class="navbar-collapse")
          ul(class="nav navbar-nav navbar-right")
            li
              a(href="#/") 帳票一覧
            li
              a(href="#/new") 作成
    div(class="cotainer")
      block content
    script(src="/angular/angular.min.js")
    script(src="/angular-route/angular-route.min.js")
    script(src="/angular-bootstrap/ui-bootstrap.min.js")
    script(src="/jquery/dist/jquery.min.js")
    script(src="/bootstrap/dist/js/bootstrap.min.js")
    script(src="/javascripts/App.js")
