<h1>帳票作成</h1>
<form ng-submit="save()">
  <table class="table">
    <colgroup></colgroup>
    <colgroup span="3" class="col-sm"></colgroup>
    <colgroup></colgroup>
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価</th>
        <th>個数</th>
        <th>小計</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="orderLine in lines">
        <td><input class="form-control" type="text"  ng-model="orderLine.productName"></td>
        <td><input class="form-control" type="number" ng-model="orderLine.unitPrice"></td>
        <td><input class="form-control" type="number" ng-model="orderLine.count"></td>
        <td>{{getSubTotal(orderLine) |number }}</td>
        <td><button type="button" class="btn btn-default" ng-click="removeLine(orderLine)">削除</button></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">合計:</td>
        <td colspan="2">{{ getTotalAmount(lines) | number }}</td>
      </tr>
    </tfoot>
  </table>
  <div>
    <button type="button" class="btn btn-primary" ng-click="addLine()">明細行を追加</button>
    <button type="button" class="btn btn-danger" ng-click="initialize()">帳票を初期化</button>
    <button type="submit" class="btn btn-success">帳票を保存</button>
  </div>
</form>
