<h1>帳票作成</h1>
<form novalidate
          name="sheetForm"
          ng-submit="save()">
  <table class="table">
    <colgroup></colgroup>
    <colgroup span="3" class="col-sm"></colgroup>
    <colgroup></colgroup>
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価</th>
        <th>個数</th>
        <th>小計</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="orderLine in lines">
        <td><input class="form-control" type="text"  ng-model="orderLine.productName" required></td>
        <td><input class="form-control" type="number" min="0" ng-model="orderLine.unitPrice" required></td>
        <td><input class="form-control" type="number" min="0" ng-model="orderLine.count" required></td>
        <td>{{ getSubTotal(orderLine) |number }}</td>
        <td><button type="button" class="btn btn-default" ng-disabled="lines.length < 2"
           ng-click="removeLine(orderLine)">削除</button></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">合計:</td>
        <td colspan="2">{{ getTotalAmount(lines) | number }}</td>
      </tr>
    </tfoot>
  </table>
  <div ng-show="sheetForm.$invalid" class="alert alert-warning">
    <span  ng-show="sheetForm.$error.required">空欄が存在しています。</span>
    <span ng-show="sheetForm.$error.min">単価、個数の最小値は 0 です。</span>
    <span ng-show="sheetForm.$error.pattern">単価、個数は整数で指定してください。</span>
  </div>

  <div>
    <button type="button" class="btn btn" ng-click="addLine()">明細行を追加</button>
    <button type="button" class="btn btn" ng-click="initialize()">帳票を初期化</button>
    <button type="submit" class="btn btn-success" ng-disabled="sheetForm.$invalid">帳票を保存</button>
  </div>
</form>
