<h1>帳票詳細 #x</h1>
<p>作成日時: yyyy/mm/dd</p>
<table class="table">
  <colgroup span="4" class="col-md"></colgroup>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価</th>
      <th>個数</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>商品名1</td>
      <td>1,600</td>
      <td>10</td>
      <td>16,000</td>
    </tr>
    <tr>
      <td>商品名2</td>
      <td>2,000</td>
      <td>12</td>
      <td>24,000</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">合計:</td>
      <td>40,000</td>
    </tr>
  </tfoot>
</table>
