<div ng-show="id">
<h1>帳票詳細 #{{ id }}</h1>
<p>作成日時: {{ createdAt | date:'yyyy/MM/dd hh:mm'}}</p>
<table class="table">
  <colgroup span="4" class="col-md"></colgroup>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価</th>
      <th>個数</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
      <tr ng-repeat="orderLine in lines">
        <td>{{ orderLine.productName }}</td>
        <td>{{ orderLine.unitPrice | number }}</td>
        <td>{{ orderLine.count | number }}</td>
        <td>{{ getSubtotal(orderLine) | number }}</td>
      </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">合計:</td>
      <td>{{ getTotalAmount(lines) | number }}</td>
    </tr>
  </tfoot>
</table>
</div>
<div ng-hide="id">
  存在しない
</div>
